:root {
  --clr-main-light: #f5f5f5;
  --clr-main-green: #031a00;
  --clr-main-grey: #888888;
  
  /* --clr-main-dark: #111111; */
  --clr-main-dark: #080b04;
  --clr-main-black: #0e130c;
  --clr-main-accent: 	#daf9a4;
  --clr-main-accent-dark: #8c9e6a;
  --clr-main-primary: #3f7d20;

  --clr-accent-400: hsl(82, 88%, 81%);

  --clr-neutral-900: hsl(0, 0%, 4%);
  --clr-neutral-800: hsl(0, 0%, 6%);
  --clr-neutral-100: hsl(41.5, 56.5%, 95.5%);

  /* --ff-primary: 'Sorts Mill Goudy', serif; */
  /* --ff-secondary: 'Sorts Mill Goudy', serif; */
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Inter', sans-serif;

  --ff-body: var(--ff-secondary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-100: 0.600rem;
  --fs-200: 0.700rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 6rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-500);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.5rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2em;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --wrapper-padding-inline: 1rem;
  --wrapper-max-width: 50rem;
  --section-padding-block: 3rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: var(--clr-main-dark);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
  color: var(--clr-main-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 1rem;
}

@media(max-width: 50em) {
  .even-columns {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

/* General Styling */
body {
  font-size: var(--ff-body);
  font-family: var(--ff-body);
  color: var(--clr-accent-100);
}

.container {
  max-width: 1080px;
}

h2 {
  border-bottom: 2px solid var(--clr-main-accent);
  padding-bottom: 0.5rem;
}

p {
  color: var(--clr-main-light);
}

/* Button */
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--clr-main-light);
  border-radius: 0.6vmax;
  padding: 1.25em 2em;

  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  text-transform: capitalize;
  color: var(--clr-main-light);
  background-color: transparent;
  box-shadow: 0 1.125em 1em -1em var(--clr-neutral-800);

  z-index: 2;
}

.button[data-type="inverted"] {
  background-color: var(--clr-primary-300);
  color: var(--clr-accent-400);
}

.button:hover,
.button:focus-visible {
  /* background-color: var(--clr-accent-dark); */
  border: 2px solid var(--clr-accent-400);
  color: var(--clr-accent-400);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-primary-300);
  color: var(--clr-accent-300);
}

/* Header Styling */
.primary-header {
  position: relative;
  z-index: 2;
}

.primary-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50%; */
}

.nav-logo {
  width: 5em;
}

.nav-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 20px 5%;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  gap: clamp(var(--size-500), 3vw, var(--size-800));
  font-weight: var(--fw-semi-bold);
  z-index: 1;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  font-size: var(--size-400);
  z-index: 2;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;

    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    background: var(--clr-neutral-800);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);

    z-index: 1;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: linear-gradient(rgb(0 0 0/0), rgb(0 0 0/ 0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .nav-list a {
    text-decoration: none;
    color: var(--clr-neutral-100);
    z-index: 2;
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--clr-accent-400);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    /* z-index: 9999; */

    background-color: transparent;
    background-image: url('images/menu-burger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter:invert(1);

    border: 0;
    padding: 0.5em;
    width: 2em;
    aspect-ratio: 1;

    left: 90%;
    

    z-index: 1;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('images/cross.svg');
    filter: none;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }

  .nav-logo {
    max-width: 3em;
    /* margin-left: em; */
  }
}

/* Hero Section Styling */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.35), rgba(0, 3, 0, 0.35));
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 75vh;
  gap: 3rem;  
}

.hero::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;

  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.hero::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  z-index: -1;

  background: var(--clr-accent-400);
}

.hero-text {
  margin: 0;
  position: relative;
  font-size: var(--size-900);
  line-height: 1.1;
  padding-top: 2rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-book-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 1.1px;
  margin-bottom: 0.5em;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-bg {
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  transform: translate(0, -7%);
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  margin: 0;
  /* margin-top: -10rem; */
  z-index: 1;
  padding-bottom: 2em;
  border-radius: 2rem;
  padding-inline: 2rem;
  margin-inline: 1em;

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  background: transparent !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;

  display: block;
  text-align: left;
}

.email-field {
  border-radius: 2em;
  margin-bottom: 1em;
}

@media (max-width: 50em) {
  .video-bg {
    transform: translate(-45%, -15%);
  }

  .hero-content {
    margin-inline: 3em;
    top: 10em;
  }

  .hero-text {
    position: relative;
    font-size: var(--size-700);
  }

  .hero-book-text {
    font-family: 'Inter', sans-serif;
    font-size: var(--size-400)
  }
}

.social-list {
  display: flex;
  gap: var(--size-600);
  margin-top: 2em;
  margin-left: 1em;
}

.social-icon {
  width: var(--size-600);
  fill: var(--clr-neutral-100);
  aspect-ratio: 1;
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--clr-accent-400);
}

@media (max-width: 50em) {
  .social-list {
    display: flex;
    gap: var(--size-400);
  }

  .social-icon {
    width: var(--size-400);
  }
}

.socials-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: var(--size-400);

  margin-top: 3em;
}

.hero-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hero-icon {
  position: relative;
  width: var(--size-700);
  fill: var(--clr-accent-400);
  aspect-ratio: 1;
}

.hero-icon::after {
  position: absolute;
  content: '-';
  color: var(--clr-accent-400);
  width: 100%;
  height: 100%;
  inset: 0;
}

.hero-2 {
  --spike-color: var(--clr-main-dark);
  --spike-width: 75px;
  --spike-height: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/accent-poly.svg');

  --mask:
    radial-gradient(67.08px at 50% calc(100% - 90px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% calc(100% + 60px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

  position: relative;
  isolation: isolate;
  min-height: 25vh;
  /* height: ; */
  /* padding-bottom: 5rem; */
}
/* 
.hero-2::before {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('images/accent-poly.svg');
  background-size: cover;
  position: absolute;
  z-index: -1;
  inset: 0;
} */

/* .hero-2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: var(--spike-height);
  background: var(--clr-main-dark);

  -webkit-mask-image: url('images/triangle-shape.svg');
  -webkit-mask-size: var(--spike-width) var(--spike-height);

  mask-image: url('images/triangle-shape.svg');
  mask-size: var(--spike-width) var(--spike-height);

  transform: rotate(0.5turn);
} */

.hero-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.375rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  background: transparent !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  text-align: left;
}

.hero-2-container::after {
  content:"";
  position: absolute;
}

.hero-2-text {
  max-width: 30ch;
}

.hero-2::before {
  top: 0;
}

.hero-2::after {
  bottom: 0;
}

@media (max-width: 50em) {
  .hero-2 {
    height: 45rem;
  }

  .hero-icon {
    width: 2em;
  }
}

/* Services Styling */
.option-header {
  text-align: start;
  text-transform: capitalize;
  padding: 0;
}

.option-img {
  border-radius: 2rem;
  width: 100%;
  padding-bottom: 1em;

  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.option-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-900);
  align-items: center;
  justify-content: center;
}

.numbered-items {
  display: flex;
  flex-direction: column;
  gap: var(--size-700);
}

@media (max-width: 50em) {
  .option-container {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size-100);
  }
}

/* Owner Section Styling */
.full-width-split-screen {
  padding-block: 0;
}

.full-width-split-screen> :not(img) {
  padding-block: var(--section-padding-block);
  padding-inline: var(--wrapper-padding-inline);
}

@media (min-width: 600px) {
  .full-width-split-screen {
      display: grid;
      grid-template-columns: 
          minmax(var(--wrapper-padding-inline), 1fr)
          minmax(0, calc(var(--wrapper-max-width) / 2))
          minmax(0, calc(var(--wrapper-max-width) / 2))
          minmax(var(--wrapper-padding-inline), 1fr);

      position: relative;
  }

  .full-width-split-screen > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .full-width-split-screen > img:first-child {
      grid-column: 1 / 3;
  }

  .full-width-split-screen > img:last-child {
      grid-column: 3 / -1;
  }

  .full-width-split-screen > :not(img) {
      display: grid;
      align-content: center;
      justify-items: start;
  }

  .full-width-split-screen > :not(img):first-child {
      grid-column:  2 / 3;
      padding-left: 0;
      padding-right: clamp(1rem, 5vw, 3rem);
  }

  .full-width-split-screen > :not(img):last-child {
      grid-column:  3 / 4;
      padding-right: 0;
      padding-left: clamp(1rem, 5vw, 3rem);
  }

  .full-width-split-screen > :not(img)::before {
      content: '';
      position: absolute;
      inset: 0;
      background: inherit;
  }

  .full-width-split-screen > :not(img):first-child::before {
      grid-column: 1/2;
  }

  .full-width-split-screen > :not(img):last-child::before {
      grid-column: 4/5;
  }
}

.owner-note {
  text-indent: 2em;
}

.owner {
  position: relative;
  isolation: isolate;
  padding: 1em;
}

.owner-image {
  z-index: 1;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

/* @media (prefers-reduced-motion: no-preference) {
  .owner-image, .option-img {

    width: 100%;
    height: 100%;
    object-fit: cover;
  
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }
  
  @keyframes fade-in {
    to {scale: 1; opacity: 1;}
  }
} */

.owner-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-900);
}

@media (max-width: 50em) {
  .owner-columns {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size-100);
  }
}

.owner-text-container {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
}

.owner-text-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
  
    background-image: url("images/ja-ceo-signature.png");
    background-repeat: no-repeat;
    background-size: contain; 
    /* filter: invert(1); */
  
    aspect-ratio: 1;
    width: 10em;
    /* height:fit-content; */
    /* margin-top: 120%; */
    /* margin-left: 60%; */
  }

.owner-signature-text {
  position: relative;
  margin: 0;
  bottom: 0;
}

@media (max-width: 50em) {
  .owner-text-container::before {
    display: block;
    margin-top: 80%;
    width: 9em;
  }
}

/* Form Styling */
.consultation {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.form-section {
  width: 100vw;
  min-height: 100vh;

  display: grid;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, var(--clr-main-dark) 0%, var(--clr-main-green) 50%, var(--clr-main-dark) 100%);
  background-image: linear-gradient(225deg, var(--clr-main-dark) 0%, var(--clr-main-green) 0%, var(--clr-main-dark) 100%);

}

.hero-form {
  background: transparent;
}

.service-form {
  max-width: 600px;
  margin: auto;
  padding: 1em;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  background: transparent;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(0.5em) !important;
  /* border-radius: 5px; */
  /* margin-top: 3em; */
}

.form-container {
  /* margin: 0; */
  display: flex;
  flex-direction: row;
  gap: var(--size-500);
  align-items: center;
}

.form-header {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: var(--size-500);
}

label {
  display: block;
  margin: 0.5em 0 0.125em;
  color: var(--clr-main-light);
}

input,
select,
textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  width: 100%;
  padding: 0.7em;
  border: 1px solid var(--clr-main-light);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

fieldset {
  padding: 1em;
  margin-bottom: 2em;
}

legend {
  color: var(--clr-main-light);
}

/* Dialog Styling */
.modal {
  padding: 1em;
  max-width: 50ch;
  background: var(--clr-main-dark);

  border: 0;
  border-radius: 1em;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  margin: auto auto;
}

.modal::backdrop {
  background: #fff;
  opacity: 0.1;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-block: 1rem;
}

h2 em {
  color: var(--clr-main-accent);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/* Form styling */
.slogan {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-main-light);
  padding-block: 1em;
  border-bottom: 0;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

@media (max-width: 50em) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-200);
    align-items: center;
  }
}

/* Footer Styling */
.footer-container {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;

  /* gap: var(--size-700); */
  margin-left: -1em;
  padding: 1em;
}

.footer-section {
  color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-300);
  text-align: center;
}

.social-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-inline: 1em; */
  gap: var(--size-500);
}

.footer-image {
  width: 10em;
}

.footer-heading {
  text-align: start;
}

.footer-text {
  text-align: start;
}

@media (max-width: 50em) {
  .footer-section h2 {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.6rem;
  }

  .social-container {
    grid-template-columns: repeat(2,1fr);
  }
 
  .footer-image {
    width: var(--size-800);
    aspect-ratio: 1;

    /* margin-left: -0.5rem; */
  }
}

/* Pricing Styling */
.pricing {
  position: relative;
  
}

.pricing::after {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/accent-poly.svg');

  position: absolute;
  z-index: -1;
  inset: 0;

  --mask:
    radial-gradient(55.90px at 50% 75.00px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(55.90px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(55.90px at 50% calc(100% - 75.00px), #000 99%, #0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(55.90px at 50% calc(100% + 50.00px), #0000 99%, #000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.wrapper {
  max-width: var(--wrapper-max-width);
  margin-inline: auto;
  padding-inline: var(--wrapper-padding-inline);
}

.pricing-heading {
  margin: 0;
  text-align: center;
  color: var(--clr-accent-400);
  font-size: var(--size-800);
}

.pricing-button {
  padding: clamp(0.5em, 7vw, 0.9em);

  cursor: pointer;
  border: 2px solid var(--clr-accent-400);
  border-radius: 100vw;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
  background-color: transparent;

  color: var(--clr-main-accent);
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  text-decoration: none;
}

.pricing-button:hover {
  background: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

.selected {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  /* font-weight: 700; */
}

.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;

  padding-block: var(--size-500);
  padding-bottom: 3rem;
  margin-inline: 1rem;
  /* padding-top: var(--size-400); */
}

.tab-list > li {
  color: var(--clr-accent-400);
}

.package {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  --br: 0.325rem;
  padding: 1rem;
  border-top: var(--br) solid;
  border-radius: var(--br);
  box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 0 0 / 0.5);
  background-color: var(--clr-main-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.tax-note {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.package-price {
  color: var(--clr-accent-400);
  font-size: clamp(4rem, 6vw, 4rem);
  font-weight: 700;
  padding-bottom: 0;
}

.package-price-2 {
  color: var(--clr-accent-400);
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
}

.package-name {
  color: var(--clr-accent-400);
  font-size: var(--size-400);
  font-weight: 700;
}

.package-description {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-200);
}

.package-description>li {
  position: relative;
  /* color: #888888; */
  color: var(--clr-main-light);
  list-style: none;
  font-size: 0.75rem;
}

.package-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.panel {
  --gap: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap);
  align-items: center;
}

.single-row {
  --gap: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--gap);
  align-items: center;
}

@media (min-width: 800px) {
  .panel {
    grid-template-areas: 
          'one two three'
      ;
  }
}

.panel> :nth-child(1) {
  grid-area: one;
}

.panel> :nth-child(2) {
  grid-area: two;
  border-bottom: var(--br) solid var(--clr-main-accent);
  border-left: var(--br) solid var(--clr-main-accent);
  border-right: var(--br) solid var(--clr-main-accent);
  padding-bottom: 2.5em;
}

.panel> :nth-child(3) {
  grid-area: three;
}

.panel> :nth-child(10) {
  grid-area: time-nav;
}

.panel>* {
  flex: 1;
}

.panel[hidden] {
  display: none;
}

.border-accent { border-color: var(--clr-accent-400); }

.border-light { border-color: var(--clr-main-light); }

.most-popular {
  color: var(--clr-main-accent);
  z-index: 1;
  vertical-align: bottom;
  font-size: 0.9rem;
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--clr-main-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: circle(50% at 50% 50%);

  padding: 1em;
  bottom: -2.75em;
  /* left: 4.7em; */
  transform: translateY(-50%);
  transform: translateX(72%);
}

.circle::after {
  position: absolute;
  content: "";

  width: 75px;
  height: 75px;
  background-color: #111111;
  clip-path: circle(50% at 50% 50%);
}

@media (max-width: 50em) {
  .wrapper {
    padding-inline: 2rem;
    max-width: 25em;
  }

  .panel {
    grid-template-areas: 
    /* 'one one three three'
    '... two two ...' */
    'one'
    'two'
    'three'
    ;
    gap: 3.5em;
  }

  .package {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab-list {
    gap: 0.5rem;
  }

  .panel> :nth-child(2) {
    grid-area: two;
  }

  .pricing-button {
    font-size: 0.75rem;
  }

  .pricing-heading {
    font-size: var(--fs-800);
  }

  .circle {
    transform: translateX(5%);
  }

  .package-name {
    font-size: var(--fs-600);
  }

  .package-description > li {
    font-size: var(--fs-500);
  }

  .package-price {
    text-align: start;
  }
}

.session-time-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;

  padding-block: var(--size-700);
  /* padding-top: 0; */
}

.session-time-list li {
  padding: 1rem 1rem;
  border-radius: 100vw;
  border: 2px solid var(--clr-main-light);
  width: fit-content;
}

.session-time-button {
  color: var(--clr-main-light);
  text-decoration: none;
}

/* Certification Styling */
.certification {
  position: relative;
  isolation: isolate;
}

/* .certification::after {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/accent-poly.svg');

  position: absolute;
  z-index: -1;
  inset: 0;
} */

.icon {
  max-width: 5rem;
  max-height: 5rem;
  /* aspect-ratio: 1; */
}

.grid-even-columns {
  display: grid;
  gap: 2rem;
}

@media(min-width: 50em) {
  .grid-even-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cert-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  border-radius: 0.375rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  background: transparent !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;

  padding: 1rem;
}

@media(max-width: 50em) {
  .cert-container {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .grid-even-columns {
    gap: 2rem;
  }
}

/* Location Styling */
.location-heading {
  text-align: center;
  font-size: var(--size-800);
}

.location-subheading {
  text-align: center;
  font-size: var(--size-400);
}

@media(max-width: 50em) {
  .location-heading {
    /* font-size: var(--size-500); */
    font-size: 1.75rem;
    text-align: left;
    margin-inline: 1rem;
  }

  .location-subheading {
    font-size: var(--size-400);
    text-align: left;
    margin-inline: 1rem;
  }
}

.map-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: var(--clr-main-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

.map-heading {
  text-align: center;
  margin-bottom: 30px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;

  /* filter: invert(100%); */
}

.media-scroller {
  --spacer: 0.5rem;

  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding-top: var(--size-300);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  /* background-image: url('images/grey-grid.svg'); */
  background-color: var(--clr-main-black);
  border-radius: var(--br);
  box-shadow: var(--shadow-4);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  /* object-fit: cover; */
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.media-element.expanded {
  grid-column: 1 / -1;
  max-width: 100%;
  max-height: 100%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  margin: auto;
}

/* Testimonials Section */
.scroller {
  margin: 0 auto;
  max-width: 650px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 3rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.review_card {
  flex: 0 0 auto;
  width: 300px;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  background: transparent !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* height: auto; */
  /* min-height: fit-content; */
}

.review_card p {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styling for the stars */
.stars {
  font-size: var(--fs-200); /* Adjust size */
  color: gold; /* Gold stars */
  margin: 0;
  margin-left: -2px;
}

/* Utility Classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-300 {
  color: var(--clr-accent-300);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-primary-300 {
  color: var(--clr-primary-300);
}

.text-main-dark {
  color: var(--clr-main-dark);
}

.text-main-light {
  color: var(--clr-main-light);
}

.text-main-grey {
  color: var(--clr-main-grey);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-main-dark {
  background-color: var(--clr-main-dark);
}

.bg-main-black {
  background-color: var(--clr-main-black);
}

.bg-primary-light {
  background-color: var(--clr-main-light);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--size-900);
  line-height: 1.1;
  font-family: var(--ff-primary);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

@media (max-width: 50em) {
  .fs-primary-heading {
    font-size: var(--fs-800);
  }
}